:root{
    --main-color: yellow;
    --padding-size: 10px;
    --border-size: 1px dotted brown;
}
.box{
    background-color: var(--main-color);
    padding: var(--padding-size);
    border: var(--border-size);
    width: 300px;
    font-weight: bold;
    text-align: center;
    font-family:cursive;
    justify-content: center;
    margin: 20px auto;
    color: darkblue;


}