body {
    margin: 0;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dee2e6;

}

.container {
    height: 300px;
    width: 500px;
    border-radius: 50px;
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin: 10px;
    position: relative;
    animation: ani 2s linear infinite;
}

.one {
    background-color: red;
    animation-delay: 0s;
}

.two {
    background-color: green;
    animation-delay: 0.3s;
}

.three {
    background-color: blue;
    animation-delay: 0.6s;
}

@keyframes ani {
    20% {
        top: 0px;
    }

    30% {
        top: -15px;
    }

    50% {
        top: -45px;
    }

    70% {
        top: -15px;
    }

    80% {
        top: 0px;
    }
}